<div class="departmentTable">
   <form>
  <table class="table">
      <tbody>
        <tr>
            <td>所属机构</td>
            <td>
                <div class="div_dropdown">
                    <input  type="text" class=" input_shape bank_name oe_bank_p2_pop" name="bank">
                    <ul class="ul_dropdown">
                        <li class="oe_bank_p2_create">xxxxxxxx</li>
                        <li class="oe_bank_p2_create">xxxxxxxx</li>
                        <li class="oe_bank_p2_create">xxxxxxxx</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>上级部门</td>
            <td><input></td>
        </tr>
        <tr>
            <td>部门名称</td>
            <td><input></td>
        </tr>
      <tr>
          <td>状态</td>
          <td>
             <input type="checkbox">
          </td>
      </tr>
      </tbody>
  </table>
  </form>
    <div>
        <button type="button" class="btn btn-primary  dp_info_save">保　存</button>
        <span> 或</span>
        <a>放弃</a>
    </div>
</div>